@import '../../responsive.scss';

.card {
  display: flex;
  gap: 20px;
  width: 100%;
 
  .imagecontainer {
    flex-basis: 40%;
    height: 200px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  .textcontainer {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 0px 10px;

    img {
      width: 16px;
      height: 16px;
    }
    .title {
      font-size: 20px;
      font-weight: 600;
      color: #444;
      transition: all 0.4s ease;

      &:hover {
        color: #000;
        scale: 1.01;
      }
    }
    .address {
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 6px;
      color: gray;
    }

    .price {
      font-size: 18px;
      font-weight: 300;
      padding: 5px;
      border-radius: 5px;
      background-color: rgba(243, 167, 3, 0.438);
      width: max-content;
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      .features {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        gap: 20px;
        padding: 10px;

        .feature {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          padding: 5px;
          border-radius: 5px;

          &:hover {
            background-color: whitesmoke;
            cursor: pointer;
          }
        }
      }
      .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 5px;

        .icon {
          padding: 3px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border-radius: 5px;

          &:hover {
            background-color: rgba(243, 167, 3, 0.438);
          }
        }
      }
    }
  }
}
@include sm {
  .card {
       flex-direction: column;
       justify-content:  center;
       
       .imagecontainer {
        flex-basis: 40%;
        height: 200px;
        margin-left: 10px;
        img {
          width: 80vw;
        }
       }
       .textcontainer {

       }
  }
}
